<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646790745362-tfq8bf6eqt6a18u3o7jufgq1ruo0fp33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646790745362-tfq8bf6eqt6a18u3o7jufgq1ruo0fp33</string>
	<key>API_KEY</key>
	<string>AIzaSyAMyVSga2nO1hWqrBtEBAgatxV6tQtVVRk</string>
	<key>GCM_SENDER_ID</key>
	<string>646790745362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iotHomeAutomation</string>
	<key>PROJECT_ID</key>
	<string>iot-home-automation-bd892</string>
	<key>STORAGE_BUCKET</key>
	<string>iot-home-automation-bd892.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646790745362:ios:919cfbbb8f71913a69f7cb</string>
</dict>
</plist>